@{
    var EmployeeList = (IEnumerable<Employee>)Model;

    var selectedEmployee = EmployeeList.Select(
     item =>
     {
         var list = new SelectListItem()
         {
             Text = $"{item.FirstName} {item.LastName} - {1} Starts",
             Value = item.EmployeeId.ToString()
         };
         return list;
     }
    ).ToList();
}

<main class="row my-4">
    <div class="container-fluid">
        <form asp-controller="Order"
              asp-action="Checkout"
              method="post">
            <label>
                <H3>Select an Employee</H3>
            </label>
            <br />
            @Html.DropDownList("selectedEmployee", selectedEmployee)
            <button class="btn btn-primary" type="submit">Continue</button>
        </form>
    </div>
</main>


