@{
    ViewData["Title"] = "Home Page";
}
<!-- Main Content -->
<main class="row">
    <section class="col-12 col-md-8 my-3">
        <div>
            <img class="img-fluid" src="http://via.placeholder.com/932x567" alt="product" />
        </div>
        <div>
            <H3>Description</H3>
            <p>
                @Model.ProductDescription;
            </p>
        </div>
    </section>
    <section class="col-12 col-md-4 my-3">
        <form asp-controller="Order" asp-action="AddProductsToCart" method="post">
            <button type="submit" class="btn btn-outline-primary btn-lg"> Add to Cart </button>
            <H3 class="font-weight-bold">@Model.ProductNames</H3>
            <H3 class="font-weight-bold text-secondary">$@Model.ProductPrice</H3>
            <label>QTY:</label>
            @Html.DropDownList("selectedQuantity", new List<SelectListItem> {
                new SelectListItem() { Text= "1", Value = "1"},
                new SelectListItem() { Text= "2", Value = "2"},
                new SelectListItem() { Text= "3", Value = "3"},
                new SelectListItem() { Text= "4", Value = "4"},
                new SelectListItem() { Text= "5", Value = "5"},
            })

            <input hidden name="selectedId" value="@Model.ProductId" />
        </form>
    </section>
</main>
<!-- End Main Content -->
