@{
    ViewData["Title"] = "Home Page";
}
<!-- Main Content -->
<main class="row">
    <section class="col-12 col-md-8 my-3">
        <h2>Services</h2>
        <table class="table table-striped table-responsive-sm table-hover my-4">
            <thead>
                <tr>
                    <th scope="col">Services name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark <p><small class="text-primary">delete</small></p></td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>Jacob<p><small class="text-primary">delete</small></p></td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <td>Larry<p><small class="text-primary">delete</small></p></td>
                    <td>the Bird</td>
                </tr>
                <tr>
                    <td>Larry<p><small class="text-primary">delete</small></p></td>
                    <td>the Bird</td>
                </tr>
                <tr>
                    <td>Larry<p><small class="text-primary">delete</small></p></td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary mb-3"> Proceed to Checkout</button>
        <h2>Proudcts</h2>
        <table class="table table-striped table-responsive-sm table-hover my-4">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark<p><small class="text-primary">delete</small></p></td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>Jacob<p><small class="text-primary">delete</small></p></td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <td>Larry<p><small class="text-primary">delete</small></p></td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary my-r d-none d-md-block"> Proceed to Checkout</button>
    </section>
    <section class="col-12 col-md-4 my-3">
        <button class="btn btn-outline-primary btn-lg"> Proceed to Checkout</button>
    </section>
</main>
<!-- End Main Content -