@{
    ViewData["Title"] = "Cart";
}
<!-- Main Content -->
<main class="row">
    <section class="col-12 col-md-4 my-3">
        <h2>Dashboard</h2>
    </section>
    <section class="col-12 col-md-8 my-3">
        <h2>Order History</h2>
        <table class="table table-striped table-hover my-4">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
               @* @foreach (var c in @Model) *@
                @for(int i = 0; i < 10; i++)
                {
                <tr>
                    <td>c.itemName</td>
                    <td>c.itemPrice</td>
                    <td>c.itemPrice</td>
                    <td><small class="text-primary">View</small></td>
                </tr>
                }
            </tbody>
        </table>
    </section>

</main>
<!-- End Main Content -->